{% extends base_template %}
{% block title %}İletişime Geç {% endblock %}
{% block body %}
    <div class="breadcrumbs">
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>İletişime Geç</h1>
                </div>
                <div class="col-md-12">
                    <div class="crumbs">
                        <a href="{% url 'home:home' %}">Ana Sayfa</a>
                        <span class="crumbs-span">/</span>
                        <span class="current">İletişime Geç</span>
                    </div>
                </div>
            </div><!-- End row -->
        </section><!-- End container -->
    </div><!-- End breadcrumbs -->
    <section class="container main-content page-full-width">
        <div class="row">
            <div class="contact-us">
                <div class="col-md-12">
                </div>
                <div class="col-md-7">
                    <div class="page-content">
                        <h2>Merhaba De!!</h2>
                        <p>
                            İletişim formu sadece teknik sorunlar, üyelik işlemleri gibi konular içindir. <br>
                            Sisteminizde yaşadığınız sorunlar için lütfen soru-cevap bölümünü kullanın.
                        </p>
                        <form class="form-style form-style-3 form-style-5" method="post">
                            <div class="form-inputs clearfix">
                                {% csrf_token %}
                                {{ contacUsForm.as_p }}
                            </div>
                            <p class="form-submit">
                                <input type="submit" id="publish-question" value="Soruyu Sor"
                                       class="button color small submit"></p>
                        </form>
                        <!-- Tasınacak -->
                        {#                        {% if messages %}#}
                        {#                            <ul class="messages">#}
                        {#                                {% for message in messages %}#}
                        {#                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
                        {#                                {% endfor %}#}
                        {#                            </ul>#}
                        {#                        {% endif %}#}
                        <!-- Tasınacak -->
                    </div><!-- End page-content -->
                </div><!-- End col-md-6 -->
                <div class="col-md-5">
                    <div class="page-content">
                        <h2>Hakkımızda</h2>
                        <p>{{ aboutUs }}</p>
                        <div class="ul_list">
                            <h2>Çekirdek Kadro</h2>
                            <ul>
                                <li>Hakan YILDIZ / Kurucu Yönetici</li>
                                <li>Mehmet KIRAN / Geliştirici</li>
                                <li>Enes YILDIRIM / Mobil Uygulama Geliştirici</li>
                            </ul>
                        </div>
                    </div><!-- End page-content -->
                </div><!-- End col-md-6 -->
            </div><!-- End contact-us -->
        </div><!-- End row -->
    </section><!-- End container -->
{% endblock %}