{% extends base_template %}
{% load humanize %}
{% block body %}
    <div class="breadcrumbs">
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Blog 2</h1>
                </div>
                <div class="col-md-12">
                    <div class="crumbs">
                        <a href="#">Home</a>
                        <span class="crumbs-span">/</span>
                        <span class="current">Blog 2</span>
                    </div>
                </div>
            </div><!-- End row -->
        </section><!-- End container -->
    </div><!-- End breadcrumbs -->
    <section class="container main-content">
        <div class="row">
            <div class="col-md-9">
                <div class="tabs-warp question-tab">
                    <ul class="tabs">
                        <li class="tab"><a href="#" class="current">Sorular</a></li>
                        <li class="tab"><a href="#">Makaleler</a></li>
                        <li class="tab"><a href="#">Kullanıcılar</a></li>
                    </ul>
                    <div class="tab-inner-warp" style="display: block;">
                        <div class="tab-inner">
                            {% if QuestionQuery %}
                                {% for QuestionQuery in QuestionQuery %}
                                    <article class="question question-type-normal">
                                        <h2>
                                            <a href="{% url 'question:showQuestion'  QuestionQuery.questionID %}">123123</a>
                                        </h2>


                                        <div class="question-author">
                                            <a href="{% url 'user:showProfile' QuestionQuery.userID_id %}"
                                               original-title="{{ QuestionQuery.userID }}"
                                               class="question-author-img tooltip-n"><span></span><img alt=""
                                                                                                       src="{{ QuestionQuery.userID.profileImage.url }}"></a>
                                        </div>
                                        <div class="question-inner">
                                            <div class="clearfix"></div>
                                            <p class="question-desc">{{ QuestionQuery.questionContent|truncatewords:40 }}
                                                <span><a
                                                        href="{% url 'question:showQuestion'  QuestionQuery.questionID %}">Devamını Oku</a> </span>
                                            </p>
                                            <div class="question-details">
                                            <span class="question-answered question-answered-done"><i
                                                    class="icon-ok"></i>solved</span>
                                                <span class="question-favorite"><i class="icon-star"></i>5</span>
                                            </div>
                                            <span class="question-category"><a href="#"><i
                                                    class="icon-folder-close"></i>{{ QuestionQuery.categoryID }}</a></span>
                                            <span class="question-date"><i
                                                    class="icon-time"></i>{{ QuestionQuery.questionCreateDate|naturaltime }}</span>
                                            <span class="question-comment"><a href="#"><i
                                                    class="icon-comment"></i>5 Cevap</a></span>
                                            <span class="question-view"><i
                                                    class="icon-user"></i>{{ QuestionQuery.questionViewCounter }}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>
                                {% endfor %}
                            {% else %}
                                <div class="alert-message warning">
                                    <i class="icon-exclamation-sign"></i>
                                    <p><span>Hay Aksi</span><br>
                                        Sorgunuza uygun sonuç çıkmadı.</p>
                                </div>
                            {% endif %}
                            <div class="pagination">
                                <a href="#" class="prev-button"><i class="icon-angle-left"></i></a>
                                <span class="current">1</span>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <span>...</span>
                                <a href="#">11</a>
                                <a href="#">12</a>
                                <a href="#">13</a>
                                <a href="#" class="next-button"><i class="icon-angle-right"></i></a>
                            </div><!-- End pagination -->
                        </div>
                    </div>
                    <div class="tab-inner-warp" style="display: none;">
                        <div class="tab-inner">
                            {% if ArticleQuery %}
                                {% for ArticleQuery  in ArticleQuery %}
                                    <article class="question question-type-normal">
                                        <h2>
                                            <a href="single_question.html">This is my first Question</a>
                                        </h2>
                                        <a class="question-report" href="#">Report</a>
                                        <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>
                                        <div class="question-author">
                                            <a href="#" original-title=""
                                               class="question-author-img tooltip-n"><span></span><img alt=""
                                                                                                       src="{{ ArticleQuery.profileImage.url }}"></a>
                                        </div>
                                        <div class="question-inner">
                                            <div class="clearfix"></div>
                                            <p class="question-desc">Duis dapibus aliquam mi, eget euismod sem
                                                scelerisque
                                                ut.
                                                Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in
                                                neque
                                                dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi
                                                tristique
                                                senectus et netus et malesuada fames ac turpis egestas. Curabitur vitae
                                                velit in
                                                neque dictum blandit.</p>
                                            <div class="question-details">
                                            <span class="question-answered question-answered-done"><i
                                                    class="icon-ok"></i>solved</span>
                                                <span class="question-favorite"><i class="icon-star"></i>5</span>
                                            </div>
                                            <span class="question-category"><a href="#"><i
                                                    class="icon-folder-close"></i>wordpress</a></span>
                                            <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                                            <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer</a></span>
                                            <span class="question-view"><i class="icon-user"></i>70 views</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>

                                {% endfor %}
                            {% else %}
                                <div class="alert-message warning">
                                    <i class="icon-exclamation-sign"></i>
                                    <p><span>Hay Aksi</span><br>
                                        Sorgunuza uygun sonuç çıkmadı.</p>
                                </div>
                            {% endif %}
                            <div class="pagination">
                                <a href="#" class="prev-button"><i class="icon-angle-left"></i></a>
                                <span class="current">1</span>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <span>...</span>
                                <a href="#">11</a>
                                <a href="#">12</a>
                                <a href="#">13</a>
                                <a href="#" class="next-button"><i class="icon-angle-right"></i></a>
                            </div><!-- End pagination -->
                        </div>
                    </div>
                    <div class="tab-inner-warp" style="display: none;">
                        <div class="tab-inner">
                            {% if UserQuery %}
                                {% for UserQuery in UserQuery %}
                                    <div class="user-profile">
                                        <div class="col-md-12">
                                            <div class="page-content">
                                                <h2>
                                                    <a href="{% url 'user:showProfile' UserQuery.id %}">{{ UserQuery.username }}</a>
                                                </h2>
                                                <div class="user-profile-img">
                                                    <img width="60" height="60"
                                                         src="{{ UserQuery.profileImage.url}}"
                                                         alt="admin">
                                                </div>
                                                <div class="ul_list ul_list-icon-ok about-user">
                                                    <ul>
                                                        <li><i class="icon-plus"></i>Kayıt Tarihi :
                                                            <span>{{ UserQuery.date_joined }}</span></li>
                                                        <li><i class="icon-map-marker"></i>Ülke :
                                                            <span>{{ UserQuery.userCountry }}</span></li>
                                                        <li><i class="icon-globe"></i>Web Site : <a target="_blank"
                                                                                                    href="{{ UserQuery.userAbout }}">{{ UserQuery.userAbout }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <p>-</p>
                                                <div class="clearfix"></div>
                                                <span class="user-follow-me">Sosyal Medya Hesapları</span>
                                                <a href="mailto:{{ UserQuery.email }}" original-title="Email"
                                                   class="tooltip-n">
                                                    {# Gizlilik ayarlarına baglı olarak dıger profıller #}
                                                    <span class="icon_i">
										<span class="icon_square" icon_size="30" span_bg="#000" span_hover="#2f3239"
                                              style="height: 30px; width: 30px; font-size: 15px; line-height: 30px; background-color: rgb(0, 0, 0); border-style: solid;">
											<i class="social_icon-email"></i>
										</span>
									</span>
                                                </a>
                                            </div><!-- End page-content -->
                                        </div><!-- End col-md-12 -->
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert-message warning">
                                    <i class="icon-exclamation-sign"></i>
                                    <p><span>Hay Aksi</span><br>
                                        Sorgunuza uygun sonuç çıkmadı.</p>
                                </div>
                            {% endif %}
                            <div class="pagination">
                                <a href="#" class="prev-button"><i class="icon-angle-left"></i></a>
                                <span class="current">1</span>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <span>...</span>
                                <a href="#">11</a>
                                <a href="#">12</a>
                                <a href="#">13</a>
                                <a href="#" class="next-button"><i class="icon-angle-right"></i></a>
                            </div><!-- End pagination -->
                        </div>
                    </div>
                </div>

            </div><!-- End main -->
            <aside class="col-md-3 sidebar">
                {% include 'components/commonComponents/widget_stats.html' %}

                {% include 'components/commonComponents/widget_social.html' %}

                {% include loginPanel %}

                {% include 'components/commonComponents/widget_highest_points.html' %}

                {% include 'components/commonComponents/widget_tag_cloud.html' %}

                {% include 'components/commonComponents/widget_recent_question.html' %}

            </aside><!-- End sidebar -->
        </div><!-- End row -->
    </section><!-- End container -->
{% endblock %}
