{% extends base_template %}
{% block body %}


    <section class="container main-content">
        <div class="login">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-content">
                        <h2>Hesabı Onayla</h2>
                        <p>Hesabınız zaten onaylanmış.</p>
                    </div><!-- End page-content -->
                </div>
            </div><!-- End row -->
        </div><!-- End login -->
    </section><!-- End container -->
{% endblock %}
