<div class="widget widget_menu">
    <ul>
        <li class=""><a href="{% url 'user:changePassword' %}"><i class="icon-lock"></i>Parolayı Değiştir</a></li>
        <li class=""><a href="{% url 'user:editProfile' %}"><i class="icon-wrench"></i>Bilgileri Düzenle</a></li>
{#        <li class=""><a href="{% url 'user:notificationSettings' %}"><i class="icon-bullhorn"></i>Bildirim Ayarları</a>#}
        <li class=""><a href="{% url 'user:loginHistory' %}"><i class="icon-bullhorn"></i>Geçmiş Giriş Kayıtları</a>
            {#      <li class=""><a href="{% url 'user:questionHistory' %}"><i class="icon-question-sign"></i>Ziyaret Edilen Sorular</a>#}
        </li>
    </ul>
</div>