<li class="comment" id="commentBox">
    <div class="comment-body comment-body-answered clearfix">
        <div class="author-image">
            <a id="userProfileHref" href="" original-title="" class="tooltip-n">
                <img id="userProfileImageUrl" src=""></a>
        </div>
        <div class="comment-text">
            <div class="author clearfix">
                <div class="comment-author"><a id="userProfileID_" href=""><span id="username"></span> </a>
                </div>
                <div class="comment-vote">
                    <ul class="question-vote">
                        <li><a href="#vote-up" class="question-vote-up" id="vote-up" title="Beğendim"></a></li>
                        <li><a href="" class="question-vote-down" id="vote-down" title="Beğenmedi"></a></li>
                    </ul>
                </div>
                <span class="question-vote-result"></span>
                <div class="comment-meta">
                    <div class="date"><i class="icon-time"></i><span id="commentTime"></span></div>
                </div>

            </div>
            <div class="text"><p>Deneme</p>
            </div>

        </div>
    </div>
</li>